<div class="container w-xxl w-auto-xs" ng-init="app.settings.container = false;" ng-controller="AuthController">
  <a href class="navbar-brand block m-t">BPS Admin</a>
  <div class="m-b-lg">
    <div class="wrapper text-center">
      <strong>Sign In</strong>
    </div>
    <form name="form" class="form-validation">
      <div class="text-danger wrapper text-center" ng-show="error">{{error}}</div>
      <alert type="success" ng-show="loading">{{ status }}</alert>
      <div class="list-group list-group-sm">
        <div class="list-group-item">
          <input type="email" placeholder="Email" class="form-control no-border" ng-model="email" required>
        </div>
        <div class="list-group-item">
           <input type="password" placeholder="Password" class="form-control no-border" ng-model="password" required>
        </div>
      </div>
      <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login()" ng-disabled='form.$invalid'>Log in</button>
    </form>
  </div>
  <div class="text-center" ng-include="'/assets/tpl/blocks/page_footer.html'"></div>
</div>