<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="PostEditorCtrl">
	<!-- main -->
	<div class="col">
		<!-- toaster directive -->
		<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
		<!-- / toaster directive -->

	    <!-- main header -->
	   	<div class="bg-light lter b-b wrapper-md">
	    	<div class="row">
	        	<div class="col-sm-6 col-xs-12">
	        		<h1 class="m-n font-thin h3 text-black" ng-if="mode.create">New Post</h1>
	        		<h1 class="m-n font-thin h3 text-black" ng-if="mode.edit">Edit Post</h1>
	        	</div>
	        	<div class="col-sm-6 col-xs-12">
	        		<div class="pull-right">
	        			<a ng-click="save()" class="btn btn-info">Save</a>
	        			<a ui-sref="blog.posts" class="btn btn-default">Cancel</a>
	        		</div>
	        	</div>
	        </div>
	    </div>
	 	<!-- / main header -->

	 	<div class="wrapper-md">
	 		<div class="row">
	 			<div class="col-lg-9 col-md-9">
	 				<div class="panel panel-default">
	 					<input class="form-control" ng-model="post.title" placeholder="Enter a title">
	 				</div>

	 				<div lazy-load="textAngular">
						<div text-angular ng-model="post.body" class="btn-groups"></div>
					</div>
	 			</div>

	 			<div class="col-lg-3 col-md-3">
	 				<div class="panel panel-default">
	 					<div class="panel-heading">Publish</div>
	 					<div class="panel-body">
	 						<div class="form-group">
	 							<ui-select theme="bootstrap" reset-search-input="false" ng-model="statuses.selected">
		                            <ui-select-match placeholder="Select post status">{{$select.selected.name}}</ui-select-match>
		                            <ui-select-choices repeat="status in statuses" refresh-delay="0">
		                              <div ng-bind-html="status.name"></div>
		                            </ui-select-choices>
		                        </ui-select>
	 						</div>
	 					</div>
	 				</div>

	 				<div class="panel panel-default">
	 					<div class="panel-heading">Categories</div>
	 					<div class="panel-body">
	 						<div class="form-group">
		 						<div class="radio" ng-repeat="category in categories">
		 							<label class="i-checks i-checks-sm">
		 								<input type="radio" ng-value="{{ category.id }}" ng-model="post.category.id" ng-checked="category.id == post.category.id"><i></i> {{ category.name }}
		 							</label>
		 						</div>
		 					</div>
		 					<a ng-click="toggleCategoryForm()">+New Category</a>
		 					<div class="form-group" ng-show="categoryform.visible">
		 						<input class="form-control" ng-model="category.name" placeholder="Enter category name" ng-enter="saveCategory()" ng-disabled="fieldDisabled">
		 					</div>
	 					</div>
	 				</div>

	 				<div class="panel panel-default">
	 					<div class="panel-heading">Tags</div>
	 					<div class="panel-body">
	 						<ui-select multiple ng-model="selectedtags" theme="bootstrap" on-select="onTagSelect($item, $model)" on-remove="onTagRemove($item, $model)" ng-disabled="disabled">
	 							<ui-select-match placeholder="Select tag...">{{$item.name}}</ui-select-match>
	 							<ui-select-choices repeat="tag in tags">
								      <div ng-bind-html="tag.name"></div>
								</ui-select-choices>
				         	</ui-select>

				         	<a ng-click="toggleTagForm()">+New Tag</a>
		 					<div class="form-group" ng-show="tagform.visible">
		 						<input class="form-control" ng-model="tag.name" placeholder="Enter tag name" ng-enter="saveTag()" ng-disabled="fieldDisabled">
		 					</div>
	 					</div>
	 				</div>

	 				<div class="panel panel-default">
	 					<div class="panel-heading">Featured Image</div>
	 					<div class="panel-body">
	 						<ui-image-select selected="{{ post.featured_image.id }}"></ui-image-select>
	 						<input type="hidden" ng-model="post.featured_image">
	 					</div>
	 				</div>
	 			</div>
	 		</div>
	 	</div>

	 </div>
</div>