<FilesMatch "\.(jpg|jpeg|png|gif|woff2|html)$">
Header set Cache-Control "max-age=432000, public"
</FilesMatch>

<FilesMatch "\.(css|js)$">
Header set Cache-Control "max-age=259200, public"
</FilesMatch>