Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    ### If a bot requests an escaped URL, proxify the request to SEO4Ajax
    RewriteCond  %{ENV:PROXIFY}  !true
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{QUERY_STRING} _escaped_fragment_= [NC]
    RewriteRule .* - [E=PROXIFY:true,E=REQUEST_PATH:%{REQUEST_URI}]

    ### If a bot, which does not support Google specification, requests a URL, proxify the request to SEO4Ajax
    ### The 5 following lines can be commented if you are using #! URLs
    RewriteCond  %{ENV:PROXIFY}  !true
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{HTTP_USER_AGENT}  !(googlebot|bing|msnbot|yandexbot|pinterest.*ios|mail\.ru) [NC]
    RewriteCond %{HTTP_USER_AGENT}  (bot|spider|pinterest|crawler|archiver|flipboardproxy|mediapartners|facebookexternalhit|quora) [NC]
    RewriteRule .* - [E=PROXIFY:true,E=REQUEST_PATH:%{REQUEST_URI}]

    ### Proxification to SEO4Ajax
    RewriteCond  %{ENV:PROXIFY}  true
    RewriteRule ^(.*)$ http://api.seo4ajax.com/15dfa5d58ac92d864b2c25ca4838db03%{ENV:REQUEST_PATH} [P,QSA,L]


    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
    
    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
