<!-- .pg-footer -->
<footer class="pg-footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3">
				<div class="block home">
					<div class="logo">
						<a href="/"><img src="/assets/img/bpslogo2.png"></a>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3">
				<div class="block sections">
					<h3>Sections</h3>
						<ul>
							<li ng-repeat="category in categories" ui-sref-active="active">
								<a ui-sref="site.section({category: category.slug})"><% category.name %></a>
							</li>
						</ul>
					</div>
				</div>
			<div class="col-lg-3 col-md-3">
				<div class="block sections">
					<h3>Bayelsa Public Square</h3>
					<ul>
						<li><a ui-sref="site.about">About</a></li>
						<li><a ui-sref="site.commentpolicy">Comments Policy</a></li>
						<li><a ui-sref="site.help">Help</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- end .pg-footer -->