<div class="page" id="about-page" ng-controller="AboutCtrl">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 content-section">
				<h3>About The Bayelsa Public Square</h3>
				<p>The Bayelsa Public Square (BPS) is an online platform for the public to share their opinions, views, and solutions to problems in Bayelsa State.</p>
			</div>
			<div class="col-lg-4 col-md-4">
				<section class="newsletter-container">
					<newsletter-form></newsletter-form>
				</section>
			</div>
		</div>
	</div>
</div>