<div class="page" id="about-page" ng-controller="AboutCtrl">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 content-section">
				<h3>About The Bayelsa Public Square</h3>
				<p>The Bayelsa Public Square (BPS) is an online platform for the public to share their opinions, views, and solutions to problems in Bayelsa State.</p>
				<p>It allows indigenes, residents and concerned parties express their views and opinions on a wide array topics; goverment policy, projects, and general news and happenings in Bayelsa State.</p>

				<h3>Contact Us</h3>
				<p>You can reach us by;</p>
				<p><strong>Email:</strong> bayelsapublicsquare@gmail.com</p>
			</div>
			<div class="col-lg-4 col-md-4">
				<section class="newsletter-container">
					<newsletter-form></newsletter-form>
				</section>
			</div>
		</div>
	</div>
</div>