<div class="page" id="about-page" ng-controller="CommentPolicyCtrl">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 content-section">
				<h2>Comment Policy</h2>
				<p>Here on the Bayelsa Public Square, we've opted to foster engaged, accountable commenting community for readers and contributes. To this end, in order to comment, you must create an account on the BPS site and must be willing to either use your fullname or a username.</p>

				<p>By only allowing users with accounts to comment and by requiring full names or username, we ensure that our commenters are commenting in good faith and that they’re invested in intelligent conversation.We’re optimistic that our commenting community will reflect that.</p>

				<p>Once you’ve decided to join our commenting community, there are a few ground rules we ask you to follow. Here are the few things that we don’t allow:</p>

				<p><strong>Intolerance:</strong> We do not welcome sexism, triablism, political intolerance or other intolerance. Please refrain from making tribalistic comments targeted at a group or individual.</p>

				<p><strong>Violence:</strong> Threats of violence or threats to any individual or group’s safety are always unacceptable.</p>

				<p><strong>Name-calling:</strong> Insults directed at our contributors or other commenters will be deleted. If a post is otherwise well-thought-out, we reserve the right to remove the insult and publish the remainder of the post. If a thread devolves into name-calling, we will delete the entire thread.</p>

				<p><strong>Trolling:</strong> We hope to attract comments that are intellectually stimulating and will contribute to the improvement of the state. If you don’t have anything substantive to add to the conversation, your comment is subject to moderation. Commenters who obviously intend just to pick fights, be nasty, naysay, get attention or get a reaction will have their posts deleted</p>

				<p>When you see a comment that violates our policy, please use the “report” option located in the bottom-left corner of every comment. A moderator will then decide whether the comment stays on the site. Keep in mind that moderating can be subjective and final decisions rest with the site's administrators.</p>

				<p>If a commenter repeatedly violates our policy, he or she will receive e-mail notification that they are in danger of being banned from the site. If the commenter continues to violate our policy, they will be banned.</p>
			</div>
			<div class="col-lg-4 col-md-4">
				<section class="newsletter-container">
					<newsletter-form></newsletter-form>
				</section>
			</div>
		</div>
	</div>
</div>