<div class="page" id="profile-page" ng-controller="PasswordCtrl">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 sidebar">
				<div data-ng-include="'/assets/views/blocks/profile-sidebar.html'"></div>
			</div>
			<div class="col-lg-9 col-md-9 body">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 profile-settings">
						<h3>Change Password</h3>

						<div ng-show="progress.show">
							<alert type="<% progress.type %>" ng-bind-html="progress.message"><alert>
						</div>

						<form name="form" novalidate autocomplete="off" ng-submit="changePassword(form.$valid)">
							<div class="form-group" ng-class="{'has-error': form.current.$invalid && submitted}">
								<label>Your current password</label>
								<input type="password" name="current" class="form-control" ng-required="true" ng-model="current">
								<span class="help-block" ng-show="form.current.$error.required && submitted">This field is required</span>
							</div>

							<div class="form-group" ng-class="{'has-error': form.update.$invalid && submitted}">
								<label>Your new password</label>
								<input type="password" name="update" class="form-control" ng-required="true" ng-minlength="5" ng-model="update">
								<span class="help-block" ng-show="form.update.$error.required && submitted">This field is required</span>
								<span class="help-block" ng-show="form.update.$error.minlength && submitted">This field must containt at least 5 characters</span>
							</div>

							<div class="form-group" ng-class="{'has-error': form.confirm.$invalid && submitted}">
								<label>Confirm your password</label>
								<input type="password" name="confirm" class="form-control" ng-required="true" ng-minlength="5" same-as to-match="update" ng-model="confirm">
								<span class="help-block" ng-show="form.confirm.$error.required && submitted">This field is required</span>
								<span class="help-block" ng-show="form.confirm.$error.minlength && submitted">This field must containt at least 5 characters</span>
								<span class="help-block" ng-show="form.confirm.$error.match && submitted">Passwords do not match</span>
							</div>

							<div class="form-group">
								<button class="btn btn-block btn-lg btn-info" type="submit" ng-disabled="(submitted && form.$invalid)">Submit</button>
							</div>
						</form>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>